:root{
  --pink: #ff69b4;
  --darkpink: #c54087;
  --lightpink: #ffb6c1;
  --red: #ff0000;
  --darkred: #8b0000;
  --yellow: #fff387;
  --darkyellow: #dfbd00;
}

body {
  margin: 0;
  background-color: var(--pink);
  font-family: 'Press Start 2P', monospace;
  color: #fff;
  image-rendering: pixelated;
}

#titlebar {
  display: flex;
  justify-content: space-between;
  background: var(--pink);
  padding: 5px;
}

#titlebar span {
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

.title{
  text-align: center;
  margin-top: 20px;
}

.win-btn {
  font-size: 14px;
  padding: 4px 10px;
  background: var(--darkpink);
  color: white;
  border: none;
  cursor: pointer;
}

.menu-container{
  display: block;
  justify-content: center;
  width: 90%;
  margin-top: 10px;
  border: 5px solid var(--darkpink);
  background-color: var(--lightpink);
  margin-left: auto;
  margin-right: auto;
}

.menu-background {
  background-image: url(backgroundheart.png);
  background-position: center;
  opacity: 0.5;
}

.menu {
  display: grid; 
  grid-template-columns: 2fr 2fr;
}

.menu-btn {
  display: block;
  width: 150px;
  height: 150px;
  margin: 20px auto;
  padding: 12px 24px;
  background: transparent;
  border-radius: 2px;
  border: 5px solid #fff;
  color: black;
  cursor: pointer;
  font-size: 14px;
}
